* {
  scroll-behavior: smooth;
}
#title {
  background-color: #ff4c68;
}

.c1 {
  font-family: "Montserrat-black", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
  width: 110%;
  color: white;
}

.container-fluid {
  padding-left: 5%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 8%;
  background-color: #ff4c68;
}

body {
  font-family: Montserrat;
  background-color: #fff;
}

.navbar-brand {
  font-family: "ubuntu";
  font-weight: bold;
}

.navbar {
  margin-bottom: 30px;
  margin-left: 160px;
  margin-right: 160px;
}

.je {
  width: 50%;
  margin: auto;
}

.ni {
  width: 40%;
  transform: rotate(25deg);
  margin-top: 30px;
  position: absolute;
  right: 50%;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light", sans-serif;
}

.down {
  margin: 5% 3% 5% 0;
}

.col-lg-4 {
  text-align: center;
}

#features {
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
  z-index: 2;
}

.h {
  font-family: "Montserrat-light", sans-serif;
  font-weight: bold;
}

.g {
  color: #8f8f8f;
}

.e {
  font-family: "Montserrat-bold", sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}

#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
  position: relative;
  z-index: 1;
}

.y {
  width: 20%;
  margin: 20px;
  border-radius: 100%;
}

#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}
.q {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing {
  background-color: #fff;
  color: #000;
  padding: 100px;
}

.z {
  padding: 3% 2%;
}

#cta {
  padding: 7% 15%;
}

.p {
  padding-bottom: 2%;
  font-size: 2rem;
}

.jenish {
  margin: 0 1%;
  color: #000;
  background-color: #fff;
}

.jenish:hover {
  color: #fff;
  background-color: #000;
}

#footer {
  color: #000;
  padding: 3% 3% 5%;
  background-color: #fff;
}

@media (max-width: 1028px) {
  .w {
    text-align: center;
  }

  .ni {
    position: static;
    transform: rotate(0);
  }
}
